body{
    background: rgb(194,6,208);
    background: linear-gradient(90deg, rgba(194,6,208,1) 0%, rgba(123,6,208,1) 75%);
}
.material-icons{
    font-size: 18px;
    position: absolute;
    left: 8px;
    top: 10px;
}

/*BOTOES*/
.btn-novo{
    width: 80px;
    position: relative;
    border-radius: 50px !important;
    text-align: right;
}
.btn-salvar{
    border-radius: 50px !important;
    display: block;
    margin:auto;
    margin-top: 2em;
}

/*CARD FORM*/
.container{
    background: #fafafa;
    box-shadow: 0 0 5px 1px #ddd;
    width: 60%;
    margin-top: 5em;
    padding: 2em;
}

